<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5" style="color: white !important; background-color: #2c2c2c !important;">
    <!-- Section: Links  -->
    <!--  -->
  
    <!-- Copyright -->
    <div class="text-center" style="background-color: #F9FAFB !important; color: #0e385b !important; padding-left: 10% !important; padding-right: 10% !important;">
      <hr style="color: #4e4e4e !important; height: 1px !important;">
      © 2021 Copyright:
      <a class="text-reset fw-bold">BELARIBI & BACHOUNDA</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->