{% load static %}
{% load cart_template_tags %} 
<nav id='navbar_1' class="navbar navbar-expand-lg px-5 py-1 " style="background-color: #0e385b !important;">
  <style>
      @font-face {
      font-family: 'Ubuntu-Medium';
        src: local('Ubuntu'),
            url("{% static 'core/font/Ubuntu/Ubuntu-Regular.ttf' %}");
      }
    </style>
  <a class="navbar-brand" href="{% url 'core:home-view' %}" style="font-weight: lighter !important; font-size: 2.85rem !important; color: white !important;">A H&nbsp;&nbsp; |&nbsp;<b class="font-weight-bold" style="margin-left: 15px !important; letter-spacing: 2px !important; color: white !important;">CENTER</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="background-color: white !important;"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <b>
      <ul class="navbar-nav" style="font-family: 'Ubuntu-Medium' !important; font-size: large !important;">
        {% if request.user.is_authenticated %}
        <li class="nav-item active ml-4">
          <a class="nav-link" style="color: white !important;" href="{% url 'core:home-view' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if request.user.profile.dpt == 'DPT CONTRATS ET ASSISTANCE AU SOL' %}
        <li class="nav-item ml-4">
          <a class="nav-link" style="color: white !important;" href="{% url 'core:fact-regular' %}">Facturation<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link" style="color: white !important;" href="{% url 'core:dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link" style="color: white !important;" href="{% url 'core:price-list' %}">Price List <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div> -->
        <li class="nav-item ml-4 d-flex align-items-center">
          <div class="v1"></div>
        </li>
        <li class="nav-item ml-4 dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;" href="{{request.user.profile.get_absolute_url}}"> {{request.user.first_name|upper|add:' '|add:request.user.last_name}} </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="background-color: #2e6fa5 !important;">
            <button class="dropdown-item dwn" type="button">Mon Profile</button>
            <a href="{% url 'account_logout' %}?next=/accounts/login/" class="dropdown-item dwn" type="button">LOGOUT</a>
          </div>
        </li>
        <!-- <li class="nav-item ml-4">
          <a class="nav-link waves-effect" style="color: black !important;" href="{% url 'account_logout' %}?next=/accounts/login/">
            <span class="clearfix d-none d-sm-inline-block"> Logout </span>
          </a>
        </li> -->
        {% else %}
        <li class="nav-item ml-4">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block"> Login </span>
          </a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
            <span class="clearfix d-none d-sm-inline-block"> Signup </span>
          </a>
        </li>
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </b>
  </div>
</nav>
{% if request.user.is_authenticated %}
<nav id='navbar_2' class="navbar navbar-expand-lg px-5 py-0 mb-4 " style="background-color: #2e6fa5 !important; color: white;">
  <div class="row">
    <a class="col-sm" href="{% url 'core:get-back' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-chevron-left font-weight-bold" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </a>
    <b class="col-auto font-weight-bold" style="color: white !important; font-weight: bolder; font-size: larger;">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</b>
  </div>
  
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-1 p-2 w-50">
      <input id="search_navb" class="form-control search mr-sm-2 w-100" type="search" placeholder="Search ..." aria-label="Search" style="background-color: #64ade8 !important; color: white !important; border: none !important;">
      <!-- <button class="btn btn-outline-light my-3 my-sm-0" style="background-color: #B01212 !important;" type="submit">Search</button> -->
    </form>
  </div>
</nav>
{% endif %}
