{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}

{% block head_title %}
Tableau de bord
{% endblock head_title %}

{% block content %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

<div id="message_err" class="mt-2 pb-0 pt-0" style="display: none;">
    <div id="alert_err" class="alert alert-danger alert-dismissible fade show" role="alert">
    </div>
</div>

<div class="row">
    <form method="GET" class="form col-2">
        {% csrf_token %}
        <div class="shadow p-3 mb-5 mt-3 bg-white rounded mr-0">
            <h4 class="mb-2" style="font-weight: bolder !important;"><b>CHOIX DES AXES</b></h4>
            <div id="msg_last_fact" class="mt-2 pb-0 pt-0" style="display: none;">
                <div id="alert_last_fact" class="fade show" role="alert">
                </div>
            </div>
            <div class="mt-2 form-row">
                <h5 class='mt-3' style="font-weight: bolder !important; color: #0e385b !important;"><b>COMPAGNIE</b></h5>
                <!-- <hr class='mt-4' style="height: 4px !important; background-color: #0e385b !important;"> -->
                <div class="form-group col-md-12">
                    <label for="compagnie_dispatcher" class="col-form-label">COMPAGNIE</label>
                    <select class="custom-select chg" name="compagnie_dispatcher" id="compagnie_dispatcher" required>
                        {% for p in companies %}
                        {% if p|get_type == "<class 'tuple'>" %}
                            <option value="{{p}}">{{p.1}}</option>
                        {% else %}
                        <option value="{{p}}">{{p}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="activite" class="col-form-label">ACTIVITÉ</label>
                    <select class="custom-select" name="activite" id="activite" disabled required>
                        {% for act in acts %}
                        {% if act|get_type == "<class 'tuple'>" %}
                            <option value="{{act}}" selected>{{act.1}}</option>
                        {% else %}
                        <option value="{{act}}">{{act}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <h5 class='mt-3' style="font-weight: bolder !important; color: #0e385b !important;"><b>ESCALE</b></h5>
                <!-- <hr class='mt-4' style="height: 4px !important; background-color: #0e385b !important;"> -->
                <div class="form-group col-md-12">
                    <label for="compagnie_dispatcher" class="col-form-label">ESCALE</label>
                    <select class="custom-select" name="escale" id="escale" required>
                        {% for esc in escales %}
                        {% if esc|get_type == "<class 'tuple'>" %}
                            <option value="{{esc}}">{{esc.1}}</option>
                        {% else %}
                        <option value="{{esc.escale}}">{{esc.escale}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <h5 class='mt-3' style="font-weight: bolder !important; color: #0e385b !important;"><b>TEMPS</b></h5>
            <!-- <hr class='mt-4' style="height: 4px !important; background-color: #0e385b !important;"> -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="annee" class="col-form-label">ANNÉE</label>
                    <select class="custom-select" name="annee" id="annee" disabled required>
                        {% for year in years %}
                        {% if year|get_type == "<class 'tuple'>" %}
                            <option value="{{year}}">{{year.1}}</option>
                        {% else %}
                        <option value="{{year}}">{{year}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="mois" class="col-form-label">MOIS</label>
                    <select class="custom-select" name="mois" id="mois" disabled required>
                        {% for month in months %}
                        {% if month|get_type == "<class 'tuple'>" %}
                            <option value="{{month}}">{{month.1}}</option>
                        {% else %}
                        <option value="{{month}}">{{month}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
                <!-- <div class="d-flex align-items-center">
                    <button type="submit" id="submit-form" class="btn ml-5 mt-4" style="height: min-content !important; color: white !important; background-color: #0e385b !important;" disabled><b class="h6">GENERER LA FACTURE</b></button>
                </div> -->
        </div>
    </form>
    <div id="chart" class="col-10 pt-3 d-flex align-items-center justify-content-center"><p class="h4 p-5 mb-5 empty" style="background-color: #ededed !important;">Veuillez choisir au moins une compagnie ou bien une escale</p></div>
</div>

<script>

    var state ={	
        'items':[],
        'values':[],
    }
    $('select').on('change', function(){
        if( $('#compagnie_dispatcher').val() == "('', '---------')" && $('#escale').val() == "('', '---------')"){
            $('#activite').prop('disabled', true);
            $('#annee').prop('disabled', true);
            $('#mois').prop('disabled', true);
            $('#chart-wrapper').hide()
        }
        else{
            if($('#compagnie_dispatcher').val() != "('', '---------')" && $('#compagnie_dispatcher').val() != "TOUTES"){
                $('#activite').prop('disabled', true);
                $('#activite').val("('', '---------')");
            }
            else{
                $('#activite').prop('disabled', false);
            }
            $('#annee').prop('disabled', false);
            $('#mois').prop('disabled', false);
        }
    });

    function buildChart(type, title){
        var chartData = {
            "type":type,
            "scale-x":{
                "values":state.items
            },
            "title": {
                "text": title,
                "font-color": "#7E7E7E",
                "backgroundColor": "none",
                "font-size": "22px",
                "alpha": 1,
                "adjust-layout": true,
            },
            "plot": {
                styles: [ "#2675e4", "orange", "#e43737", "#efeb00", "purple", "green", "#26e4ab", "brown", "black" ],
                "bars-space-left": 0.15,
                "bars-space-right": 0.15,
                "animation": {
                    "effect": "ANIMATION_SLIDE_BOTTOM",
                    "sequence": 0,
                    "speed": 800,
                    "delay": 800
                }
            },
            "series":[
                {
                    "values":state.values
                }
            ]
		}
        zingchart.exec('chart', 'clear');
		zingchart.render({
		  id: "chart",
		  data: chartData,
		});
	}

    var compagnie_dispatcher;
    var activite;
    var escale;
    var annee;
    var mois;
    $('select').on('change', function(){
        if($('#compagnie_dispatcher').val() == "('', '---------')"){
            compagnie_dispatcher = '';
        }
        else{
            compagnie_dispatcher = $('#compagnie_dispatcher').val()
        }
        if($('#activite').val() == "('', '---------')"){
            activite = '';
        }
        else{
            activite = $('#activite').val()
        }
        if($('#escale').val() == "('', '---------')"){
            escale = '';
        }
        else{
            escale = $('#escale').val()
        }
        if($('#annee').val() == "('', '---------')"){
            annee = '';
        }
        else{
            annee = $('#annee').val()
        }
        if($('#mois').val() == "('', '---------')"){
            mois = '';
        }
        else{
            mois = $('#mois').val()
        }
        data = {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'compagnie_dispatcher' : compagnie_dispatcher,
        'activite' : activite,
        'escale': escale,
        'annee': annee,
        'mois': mois};
        $.ajax({
            method:'POST',
            url:'{% url "core:build-chart" %}',
            datatype: 'JSON',
            data: data,
            success:function(data){
                console.log(state.items.length)
                if(state.items.length > 0){
                    state.items = []
                    state.values = []
                }
                console.log(data)
                for (var i in data.data){
                    var key = Object.keys(data.data[i])[0]
                    var value = Object.values(data.data[i])[0]
                    state.items.push(key)
                    state.values.push(value)
                }
                if(data.exist){
                    $('.empty').hide()
                    buildChart("bar", data.title)
                }
                else{
                    $('.empty').show()
                }
            }
        });
    });


</script>


{% endblock content %}