{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}
{% load i18n %}

{% block head_title %}
Annuaire
{% endblock head_title %}


{% block content %}
{% if messages %}
<div id="div-msg" class="mt-2 pb-0 pt-0">
    {% for message in messages %}
    <div id="exist" class="alert alert-{{ message.tags }} alert-dismissible fade show align-items-center" role="alert">
        <p class="mb-0 msg">{{ message }}</p>
        <button type="button" class="close align-items-center mb-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="d-flex flex-row mb-4">
    <div class="d-flex flex-row d-flex align-items-center col-6">
        <label for="pax_delivery_adr" class="col-form-label font-weight-bold mr-4"><b>FILTRER &nbsp; :</b></label>
        <form method="POST" action="{% url 'core:valid-case' %}" id="form" class="col-2">
            {% csrf_token %}
            <select class="custom-select" id="file_type" name="file_type">
                <option value="AHL" {% if type == 'AHL' %} selected {% endif %} >AHL</option>
                <option value="DPR" {% if type == 'DPR' %} selected {% endif %}>DPR</option>
                <option value="OHD" {% if type == 'OHD' %} selected {% endif %}>OHD</option>
            </select>
        </form>
    </div>
    {% if request.user.profile.dpt == 'DPT RECHERCHES ET INDEMNISATION DES BAGAGES' %}
    <div class="dropdown ml-auto d-flex align-items-center">
        <button class="btn fixed-top btn-lg my-0 p float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important; background-color: #0e385b !important;">
        AJOUTER
        </button>
        <div id="add-bag" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="ch"><a class="dropdown-item py-3 h5 mb-0 text-center" href="{% url 'core:add-ahl' %}">AHL</a></li>
        <li class="ch"><a class="dropdown-item py-3 h5 mb-0 text-center" href="{% url 'core:add-dpr' %}">DPR</a></li>
        <li class="ch"><a class="dropdown-item py-3 h5 mb-0 text-center" href="{% url 'core:add-ohd' %}">OHD</a></li>
        </div>
    </div>
    {% endif %}
</div>

<div class="table-responsive">
    <table id="table-bag-cases" class="table table-hover" style="font-size: 10px !important; width: 100% !important;">
        <thead class="thead-light">
          <tr>
            <th class="py-3" scope="col"><b class="h6">#</b></th>
            <th class="py-3" scope="col"><b class="h6">Enregistrement</b></th>
            <th class="py-3" scope="col"><b class="h6">Date récéption dossier</b></th>
            <th class="py-3" scope="col"><b class="h6">Escale</b></th>
            <th class="py-3" scope="col"><b class="h6">Référence</b></th>
            {% if 'DPR' in title or 'AHL' in title %}
            <th class="py-3" scope="col"><b class="h6">Dossier conforme</b></th>
            <th class="py-3" scope="col"><b class="h6">Status</b></th>
            <th class="py-3" scope="col"><b class="h6">N° Dossier</b></th>
            <th class="py-3" scope="col"><b class="h6">Montant proposé</b></th>
            <th class="py-3" scope="col"><b class="h6">Accord</b></th>
            <th class="py-3" scope="col"><b class="h6">Status paiement</b></th>
            {% endif %}
            <!-- {% if 'AHL' in title %}
            <th class="py-3" scope="col"><b class="h6">Localisé ?</b></th>
            {% endif %} -->
            {% if 'OHD' in title %}
            <th class="py-3" scope="col"><b class="h6">N° TAG</b></th>
            {% endif %}
            <th class="py-3" scope="col"><b class="h6">Détails</b></th>
          </tr>
        </thead>
        <tbody id="tbody">
            {% for request in object_list %}
            <tr class="row_tab" style="border-bottom: 2px #d7d7d7 solid !important;">
                <th class="py-4" scope="row"><b class="h6 font-weight-bold" >{{ forloop.counter }}</b></th>
                <td class="py-4"><b class="h6 font-weight-bold">
                    {% language 'fr' %}
                        {{request.date_claim|days_since}}
                    {% endlanguage %}
                </b></td>
                <td class="py-4"><b class="h6 font-weight-bold">
                    {% language 'fr' %}
                        {{request.dte_send_bcr|date:'d-m-Y'}}
                    {% endlanguage %}
                </b></td>
                <td class="py-4"><b class="font-weight-bold" >{{request.escale_claim}}</b></td>
                <td class="py-4"><b class="font-weight-bold mb-0" >{{request.ref}}</b></td>
                {% if 'DPR' in title or 'AHL' in title %}
                <td class="py-4"><b class="font-weight-bold" >
                    {% if request.file_conforme is None %}
                    -
                    {% elif request.file_conforme %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#155fff" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                      </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                      </svg>
                    {% endif %}
                </b></td>
                <td class="py-3" style="font-size:2em !important;">
                    {% if request.status is None %}
                    <b class="font-weight-bold" >-</b>
                    {% elif request.status == 'RECH. PRIMAIRE' %}
                    <b class="font-weight-bold badge badge-primary" >PRIMAIRE</b>
                    {% elif request.status == 'RECH. SECONDAIRE' %}
                    <b class="font-weight-bold badge badge-info" >SECONDAIRE</b>
                    {% elif request.status == 'EN COURS D\'INDEMNISATION' %}
                    <b class="font-weight-bold badge badge-danger" >INDEMNISATION</b>
                    {% elif request.status == 'SUSPENDU' %}
                    <b class="font-weight-bold badge badge-warning" >{{request.status}}</b>
                    {% else %}
                    <b class="font-weight-bold badge badge-success" >{{request.status}}</b>
                    {% endif %}
                </td>
                <td class="py-4"><b class="font-weight-bold" >
                    {% if request.n_file is None %}
                    -
                    {% else %}
                    {{request.n_file}}
                    {% endif %}
                </b></td>
                <td class="py-4"><b class="font-weight-bold">
                    {% if request|get_proposition:'monnaie' is not None  %}
                    {% if request|get_proposition:'monnaie' == 'USD' %} {{request|get_proposition:'montant_usd'}} {% else %} {{request|get_proposition:'montant_dzd'}} {% endif %} &nbsp; {{request|get_proposition:'monnaie'}}
                    {% else %}
                    -
                    {% endif %}
                </b></td>
                <td class="py-4"><b class="font-weight-bold" > 
                    {% if request|get_proposition:'monnaie' is not None  %}
                    {% if request|get_proposition:'accord' is None %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                        <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                    </svg>
                    {% elif not request|get_proposition:'accord' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dc2323" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                      </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#259f44" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </b></td>
                <td class="py-4"><b class="font-weight-bold" >
                    {% if request|get_proposition:'monnaie' is None or not request|get_proposition:'accord' %}
                    -
                    {% elif request.payment_status %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#259f44" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                      </svg>
                    {% else %}
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    {% endif %}
                </b></td>
                {% endif %}
                {% if 'OHD' in title %}
                <td class="py-4"><b class="font-weight-bold" >
                    {% if request|bag_id is not None %}
                    {{request|bag_id}}
                    {% else %}
                    -
                    {% endif %}
                </b></td>
                {% endif %}
                <td class="py-4">
                    <a href="{{request.get_absolute_url}}" target="_blank" class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </a>
                </td> 
            </tr>
            {% endfor %}     
        </tbody>
    </table>
    
    <!-- PAGINATION -->
    <!-- <nav aria-label="Page navigation example mt-5">   
        <ul id="pagin" class="pagination pagination-lg justify-content-center mt-5">
            {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">PREVIOUS</span>
                <span class="sr-only">begin</span>
            </a>
            </li>   {% endif %}
            
            {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
                <li class="page-item active page-active">
                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
            {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">NEXT</span>
                <span class="sr-only">end</span>
                </a>
            </li>
            {% endif %}   
        </ul>
    </nav> -->

</div>

<!-- <a href="{% url 'core:fiche-touchee' %}" class="btn fixed-top btn-lg my-0 p float-right" style="color: white !important; background-color: #0e385b !important;">
    <b>AJOUTER</b>
</a> -->


<script>

    $(document).ready( function () {
        $('#table-bag-cases').DataTable({
            "ordering": false,
            "pagingType": "full_numbers"
        });
        $('.dataTables_paginate').addClass('pagination pagination-lg d-flex justify-content-center mt-5');
    } );

    $('#file_type').on('change', function(){
        $('#form').submit();
    });

</script>

{% endblock content %}