{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}

{% block head_title %}
Price List
{% endblock head_title %}

{% block content %}
{% if messages %}
<div id="div-msg" class="mt-2 pb-0 pt-0">
    {% for message in messages %}
    <div id="exist" class="alert alert-{{ message.tags }} alert-dismissible fade show align-items-center" role="alert">
        <p class="mb-0 msg"><b>{{ message }}</b></p>
        <button type="button" class="close align-items-center mb-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'core:exchange-rates' %}" class="d-flex flex-row justify-content-end ml-auto mb-4 mt-4 p-4" style="color: black; background-color: #e8e8e8; border-radius: 10px; max-width: max-content !important;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
        <path d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"/>
    </svg>
    <p class="h4 ml-2 mb-0">Taux d'échanges</p>
</a>

<div class="d-flex">
    <div class="mb-2 w-50">
        <div class="user d-flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <p class="ml-2 text-muted font-weight-normal">Dernière modification effectué par : {{obj.user_last_edit}}</p>
        </div>
        <div class="time d-flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            </svg>
            <p class="ml-2 text-muted font-weight-normal">{{obj.date_last_edit |date:'d F Y - H:i'}}</p>
        </div>
    </div>
    {% if request.user.profile.poste == 'CHEF DEPARTEMENT' and hist %}
    <div class="form-group ml-auto mt-2">
        <input type="checkbox" class="form-check-input" id="newpl_check" checked>
        <label class="form-check-label h4 mr-3 mb-0" for="newpl_check"><b>LOCKED</b></label>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg>
    </div>
    {% endif %}
</div>

<div class="d-flex flex-row">
    <p class="h5 mb-4 text-muted">Cette price list est effective depuis le {{obj.dte_begin|date:'d/m/Y'}} jusqu'au {{obj.dte_end|date:'d/m/Y'}} ( - {{obj.dte_end|days_until}} jours ) </p>
    {% if hist %}
    <a href="{% url 'core:annuaire-prices-list' %}" class="ml-auto h5 d-flex flex-row" target="_blank" style="color: grey !important;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear-fill mr-2" viewBox="0 0 16 16">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
        <u>Consulter les Prices List</u>
    </a>
    {% endif %}
</div>

<div id="message" class="mt-2 pb-0 pt-0" style="display: none;">
    <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    </div>
</div>
<form method="POST" action="{% url 'core:valid-price-list' %}" class="form">
    {% csrf_token %}
    <!-- FACTURATION -->
    <div id="new_pl" class="shadow p-3 mb-5 bg-white rounded w-100y" style="display: none;">
        <h3 class="mb-4" style="font-weight: bolder !important;"><b>AJOUT D'UNE NOUVELLE PRICE LIST</b></h3>
        <div class="alert alert-warning alert-dismissible fade show align-items-center mb-4" role="alert">
            <div class="d-flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#6b6818" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                <h4 class="mb-4 ml-3 align-self-end" style="font-weight: bolder !important;"><b>NOTE IMPORTANTE</b></h4>
            </div>
            <p class="mb-0 font-weight-bold">Vous êtes sur le point de créer une nouvelle Price List en cliquant sur modifier et en renseignant les dates de début et de fin ! ( non-modifiables )</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="dte_begin" class="col-form-label">Date de début</label>
                <input type="date" id='dte_begin' name="dte_begin" class="form-control" required>
            </div>
            <div class="form-group col-md-2">
                <label for="dte_end" class="col-form-label">Date de fin</label>
                <input type="date" id='dte_end' name="dte_end" class="form-control" required>
            </div>
        </div>
    </div>
    <div id="fact" class="shadow p-3 mb-5 bg-white rounded w-100y">
        <h3 class="mb-4" style="font-weight: bolder !important;"><b>FACTURATION</b></h3>
        <h5 class='mt-5' style="font-weight: bolder !important; color: #B01212 !important;"><b>TARIFS DE BASE</b> &nbsp;&nbsp;<span style="color: gray !important;">( USD ) &nbsp;&nbsp; -  &nbsp;&nbsp;Hors taxes</span></h5>
        <hr class='mt-0' style="height: 4px !important; background-color: #B01212 !important;">
        <h6 class='mt-5'><b>TOUCHÉE COMMERCIALE</b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="MTOW_10_COM" class="col-form-label">MTOW ≤ 10</label>
                <input type="number" min="0" step="0.1" id='MTOW_10_COM' name="MTOW_10_COM" value="{{obj.MTOW_10_COM}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_10_30_COM" class="col-form-label">10 < MTOW ≤ 30</label>
                <input type="number" min="0" step="0.1" id='MTOW_10_30_COM' name="MTOW_10_30_COM" value="{{obj.MTOW_10_30_COM}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_10_30_COM" class="col-form-label">30 < MTOW ≤ 50</label>
                <input type="number" min="0" step="0.1" id='MTOW_30_50_COM' name="MTOW_30_50_COM" value="{{obj.MTOW_30_50_COM}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_50_80_COM" class="col-form-label">50 < MTOW ≤ 80</label>
                <input type="number" min="0" step="0.1" id='MTOW_50_80_COM' name="MTOW_50_80_COM" value="{{obj.MTOW_50_80_COM}}" class="form-control input" required readonly> 
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_80_150_COM" class="col-form-label">80 < MTOW ≤ 150</label>
                <input type="number" min="0" step="0.1" id='MTOW_80_150_COM' name="MTOW_80_150_COM" value="{{obj.MTOW_80_150_COM}}" class="form-control input" required readonly> 
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_150_250_COM" class="col-form-label">150 < MTOW ≤ 250</label>
                <input type="number" min="0" step="0.1" id='MTOW_150_250_COM' name="MTOW_150_250_COM" value="{{obj.MTOW_150_250_COM}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="MTOW_250_COM" class="col-form-label">MTOW < 250</label>
                <input type="number" min="0" step="0.1" id='MTOW_250_COM' name="MTOW_250_COM" value="{{obj.MTOW_250_COM}}" class="form-control input" required readonly>
            </div>
        </div>
        <h6 class='mt-5'><b>TOUCHÉE TECHNIQUE</b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="MTOW_10_TECH" class="col-form-label">MTOW ≤ 10</label>
                <input type="number" min="0" step="0.1" id='MTOW_10_TECH' name="MTOW_10_TECH" value="{{obj.MTOW_10_TECH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_10_30_TECH" class="col-form-label">10 < MTOW ≤ 30</label>
                <input type="number" min="0" step="0.1" id='MTOW_10_30_TECH' name="MTOW_10_30_TECH" value="{{obj.MTOW_10_30_TECH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_10_30_TECH" class="col-form-label">30 < MTOW ≤ 50</label>
                <input type="number" min="0" step="0.1" id='MTOW_30_50_TECH' name="MTOW_30_50_TECH" value="{{obj.MTOW_30_50_TECH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_50_80_TECH" class="col-form-label">50 < MTOW ≤ 80</label>
                <input type="number" min="0" step="0.1" id='MTOW_50_80_TECH' name="MTOW_50_80_TECH" value="{{obj.MTOW_50_80_TECH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_80_150_TECH" class="col-form-label">80 < MTOW ≤ 150</label>
                <input type="number" min="0" step="0.1" id='MTOW_80_150_TECH' name="MTOW_80_150_TECH" value="{{obj.MTOW_80_150_TECH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="MTOW_150_250_TECH" class="col-form-label">150 < MTOW ≤ 250</label>
                <input type="number" min="0" step="0.1" id='MTOW_150_250_TECH' name="MTOW_150_250_TECH" value="{{obj.MTOW_150_250_TECH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="MTOW_250_TECH" class="col-form-label">MTOW < 250</label>
                <input type="number" min="0" step="0.1" id='MTOW_250_TECH' name="MTOW_250_TECH" value="{{obj.MTOW_250_TECH}}" class="form-control input" required readonly>
            </div>
        </div>
        <h5 class='mt-5' style="font-weight: bolder !important; color: #B01212 !important;"><b>PRIX DES SERVICES SPECIALES</b> &nbsp;&nbsp;<span style="color: gray !important;">( USD ) &nbsp;&nbsp; -  &nbsp;&nbsp;Hors taxes</span></h5>
        <hr class='mt-0' style="height: 4px !important; color: #B01212 !important;">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="ASSIST_WCH" class="col-form-label">WCH</label>
                <input type="number" min="0" step="0.1" id='ASSIST_WCH' name="ASSIST_WCH" value="{{obj.ASSIST_WCH}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ASSIST_UM" class="col-form-label">UM</label>
                <input type="number" min="0" step="0.1" id='ASSIST_UM' name="ASSIST_UM" value="{{obj.ASSIST_UM}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ASSIST_TRANSIT" class="col-form-label"> ASSISTANCE EN TRANSIT</label>
                <input type="number" min="0" step="0.1" id='ASSIST_TRANSIT' name="ASSIST_TRANSIT" value="{{obj.ASSIST_TRANSIT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ACC_SALON" class="col-form-label">ACCES SALON</label>
                <input type="number" min="0" step="0.1" id='ACC_SALON' name="ACC_SALON" value="{{obj.ACC_SALON}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ASSIST_VIP" class="col-form-label">ASSISTANCE VIP</label>
                <input type="number" min="0" step="0.1" id='ASSIST_VIP' name="ASSIST_VIP" value="{{obj.ASSIST_VIP}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="USE_DCS" class="col-form-label">UTILISATION DCS</label>
                <input type="number" min="0" step="0.1" id='USE_DCS' name="USE_DCS" value="{{obj.USE_DCS}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="DEPORTEE" class="col-form-label">DEPORTEE</label>
                <input type="number" min="0" step="0.1" id='DEPORTEE' name="DEPORTEE" value="{{obj.DEPORTEE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="AGENT_SERV_PASSAGE" class="col-form-label">AGENT DE SERVICE DE PASSAGE</label>
                <input type="number" min="0" step="0.1" id='AGENT_SERV_PASSAGE' name="AGENT_SERV_PASSAGE" value="{{obj.AGENT_SERV_PASSAGE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="CIVIERE" class="col-form-label">CIVIERE</label>
                <input type="number" min="0" step="0.1" id='CIVIERE' name="CIVIERE" value="{{obj.CIVIERE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="HUM" class="col-form-label">HUM</label>
                <input type="number" min="0" step="0.1" id='HUM' name="HUM" value="{{obj.HUM}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="OUV_DOSS_BAG" class="col-form-label">OVERTURE DE DOSSIER BAGAGE</label>
                <input type="number" min="0" step="0.1" id='OUV_DOSS_BAG' name="OUV_DOSS_BAG" value="{{obj.OUV_DOSS_BAG}}" class="form-control input" required readonly>
            </div>
        </div>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="DOSS_VOL_IMP" class="col-form-label">DOSSIER DE VOL & IMPRESSION</label>
                <input type="number" min="0" step="0.1" id='DOSS_VOL_IMP' name="DOSS_VOL_IMP" value="{{obj.DOSS_VOL_IMP}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="AGENT_COORD" class="col-form-label">AGENT DE COORDINATION</label>
                <input type="number" min="0" step="0.1" id='AGENT_COORD' name="AGENT_COORD" value="{{obj.AGENT_COORD}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="COMM_SOL_COCKPIT" class="col-form-label">COMMUNICATION SOL COCKPIT</label>
                <input type="number" min="0" step="0.1" id='COMM_SOL_COCKPIT' name="COMM_SOL_COCKPIT" value="{{obj.COMM_SOL_COCKPIT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="AGENT_OP_QUALIF" class="col-form-label">AGENT D'OP QUALIFIE</label>
                <input type="number" min="0" step="0.1" id='AGENT_OP_QUALIF' name="AGENT_OP_QUALIF" value="{{obj.AGENT_OP_QUALIF}}" class="form-control input" required readonly>
            </div>
        </div>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="GPU" class="col-form-label">GPU</label>
                <input type="number" min="0" step="0.1" id='GPU' name="GPU" value="{{obj.GPU}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ASU_MOY_PORT" class="col-form-label">ASU - MOYEN PORTEUR</label>
                <input type="number" min="0" step="0.1" id='ASU_MOY_PORT' name="ASU_MOY_PORT" value="{{obj.ASU_MOY_PORT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ASU_BIG_PORT" class="col-form-label">ASU - GROS PORTEUR</label>
                <input type="number" min="0" step="0.1" id='ASU_BIG_PORT' name="ASU_BIG_PORT" value="{{obj.ASU_BIG_PORT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ACU" class="col-form-label">ACU</label>
                <input type="number" min="0" step="0.1" id='ACU' name="ACU" value="{{obj.ACU}}" class="form-control input" required readonly>
            </div>
        </div>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="VIDE_TOILET_MOY_PORT" class="col-form-label">VIDE TOILETTE MOYEN PORTEUR</label>
                <input type="number" min="0" step="0.1" id='VIDE_TOILET_MOY_PORT' name="VIDE_TOILET_MOY_PORT" value="{{obj.VIDE_TOILET_MOY_PORT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="VIDE_TOILET_BIG_PORT" class="col-form-label">VIDE TOILETTE GROS PORTEUR</label>
                <input type="number" min="0" step="0.1" id='VIDE_TOILET_BIG_PORT' name="VIDE_TOILET_BIG_PORT" value="{{obj.VIDE_TOILET_BIG_PORT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="PLEIN_WATER_MOY_PORT" class="col-form-label">PLEIN D'EAU MOYEN PORTEUR</label>
                <input type="number" min="0" step="0.1" id='PLEIN_WATER_MOY_PORT' name="PLEIN_WATER_MOY_PORT" value="{{obj.PLEIN_WATER_MOY_PORT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="PLEIN_WATER_BIG_PORT" class="col-form-label">PLEIN D'EAU GROS PORTEUR</label>
                <input type="number" min="0" step="0.1" id='PLEIN_WATER_BIG_PORT' name="PLEIN_WATER_BIG_PORT" value="{{obj.PLEIN_WATER_BIG_PORT}}" class="form-control input" required readonly>
            </div>
        </div>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="NET_CABINE_100" class="col-form-label">NET CABINE (< 100 SIEGES)</label>
                <input type="number" min="0" step="0.1" id='NET_CABINE_100' name="NET_CABINE_100" value="{{obj.NET_CABINE_100}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="NET_CABINE_200" class="col-form-label">NET CABINE (< 200 SIEGES)</label>
                <input type="number" min="0" step="0.1" id='NET_CABINE_200' name="NET_CABINE_200" value="{{obj.NET_CABINE_200}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="NET_CABINE_300" class="col-form-label">NET CABINE (< 300 SIEGES)</label>
                <input type="number" min="0" step="0.1" id='NET_CABINE_300' name="NET_CABINE_300" value="{{obj.NET_CABINE_300}}" class="form-control input" required readonly>
            </div>
        </div>
        <h6 class='mt-5'><b>ARRANGEMENT CABINE ET CHANGEMENT DES TETIERES   </b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="ARRANGEMENT_CAB_100" class="col-form-label">CAPACITE < 100 SIEGES</label>
                <input type="number" min="0" step="0.1" id='ARRANGEMENT_CAB_100' name="ARRANGEMENT_CAB_100" value="{{obj.ARRANGEMENT_CAB_100}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ARRANGEMENT_CAB_200" class="col-form-label">CAPACITE < 200 SIEGES</label>
                <input type="number" min="0" step="0.1" id='ARRANGEMENT_CAB_200' name="ARRANGEMENT_CAB_200" value="{{obj.ARRANGEMENT_CAB_200}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ARRANGEMENT_CAB_300" class="col-form-label">CAPACITE < 300 SIEGES</label>
                <input type="number" min="0" step="0.1" id='ARRANGEMENT_CAB_300' name="ARRANGEMENT_CAB_300" value="{{obj.ARRANGEMENT_CAB_300}}" class="form-control input" required readonly>
            </div>
        </div>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="RECONC_BAG_BRS" class="col-form-label">RECONCILIATION BAGAGE BRS</label>
                <input type="number" min="0" step="0.1" id='RECONC_BAG_BRS' name="RECONC_BAG_BRS" value="{{obj.RECONC_BAG_BRS}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="ID_BAG_100" class="col-form-label">IDENTIFICATION BAGAGE + 100 SIEGES</label>
                <input type="number" min="0" step="0.1" id='ID_BAG_100' name="ID_BAG_100" value="{{obj.ID_BAG_100}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="ID_BAG_200" class="col-form-label">IDENTIFICATION BAGAGE + 200 SIEGES</label>
                <input type="number" min="0" step="0.1" id='ID_BAG_200' name="ID_BAG_200" value="{{obj.ID_BAG_200}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="PASSERELLE_PSG" class="col-form-label">PASSERELLE PASSAGER</label>
                <input type="number" min="0" step="0.1" id='PASSERELLE_PSG' name="PASSERELLE_PSG" value="{{obj.PASSERELLE_PSG}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="CAMION_ELEV" class="col-form-label">CAMION ELEVATEUR</label>
                <input type="number" min="0" step="0.1" id='CAMION_ELEV' name="CAMION_ELEV" value="{{obj.CAMION_ELEV}}" class="form-control input" required readonly>
            </div> 
            <div class="form-group col-md-2">
                <label for="VIP_BUS" class="col-form-label">VIP BUS</label>
                <input type="number" min="0" step="0.1" id='VIP_BUS' name="VIP_BUS" value="{{obj.VIP_BUS}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="VEHICULE_TRANSP_PISTE" class="col-form-label">VEHICULE-TRANSPORT PISTE</label>
                <input type="number" min="0" step="0.1" id='VEHICULE_TRANSP_PISTE' name="VEHICULE_TRANSP_PISTE" value="{{obj.VEHICULE_TRANSP_PISTE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="PUSH_BACK" class="col-form-label">PUSH BACK</label>
                <input type="number" min="0" step="0.1" id='PUSH_BACK' name="PUSH_BACK" value="{{obj.PUSH_BACK}}" class="form-control input" required readonly>
            </div> 
            <div class="form-group col-md-2">
                <label for="TOWING" class="col-form-label">TOWING</label>
                <input type="number" min="0" step="0.1" id='TOWING' name="TOWING" value="{{obj.TOWING}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="CHARIOT_BAG" class="col-form-label">CHARIOTS A BAGAGES</label>
                <input type="number" min="0" step="0.1" id='CHARIOT_BAG' name="CHARIOT_BAG" value="{{obj.CHARIOT_BAG}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="TRACT_CHARIOT" class="col-form-label">TRACTEUR DE CHARIOTS</label>
                <input type="number" min="0" step="0.1" id='TRACT_CHARIOT' name="TRACT_CHARIOT" value="{{obj.TRACT_CHARIOT}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="TAPIS_BAG" class="col-form-label">TAPIS A BAGAGES</label>
                <input type="number" min="0" step="0.1" id='TAPIS_BAG' name="TAPIS_BAG" value="{{obj.TAPIS_BAG}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="PLATEFORME" class="col-form-label">PLATEFORME</label>
                <input type="number" min="0" step="0.1" id='PLATEFORME' name="PLATEFORME" value="{{obj.PLATEFORME}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="PORTE_CONTAINER_PALETTE" class="col-form-label">PORTE CONTAINER PALETTE</label>
                <input type="number" min="0" step="0.1" id='PORTE_CONTAINER_PALETTE' name="PORTE_CONTAINER_PALETTE" value="{{obj.PORTE_CONTAINER_PALETTE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="CONTAINER_PALETTE" class="col-form-label">CONTAINER PALETTE</label>
                <input type="number" min="0" step="0.1" id='CONTAINER_PALETTE' name="CONTAINER_PALETTE" value="{{obj.CONTAINER_PALETTE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="ELEV_FOURCHE" class="col-form-label">ELEVATEUR A FOURCHE</label>
                <input type="number" min="0" step="0.1" id='ELEV_FOURCHE' name="ELEV_FOURCHE" value="{{obj.ELEV_FOURCHE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="AGENT_SERV_PISTE" class="col-form-label">AGENT DE SERVITUDE PISTE</label>
                <input type="number" min="0" step="0.1" id='AGENT_SERV_PISTE' name="AGENT_SERV_PISTE" value="{{obj.AGENT_SERV_PISTE}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="DB_MANIP_ULD" class="col-form-label">DOUBLE MANIPULATION DES ULD</label>
                <input type="number" min="0" step="0.1" id='DB_MANIP_ULD' name="DB_MANIP_ULD" value="{{obj.DB_MANIP_ULD}}" class="form-control input" required readonly>
            </div>
        </div>
        <h5 class='mt-5' style="font-weight: bolder !important; color: #B01212 !important;"><b>LES CONDITIONS SPÉCIALES</b> &nbsp;&nbsp;<span style="color: gray !important;">( % )</span></h5>
        <hr class='mt-0' style="height: 4px !important;">
        <h6 class='mt-5'><b>MAJORATIONS</b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="assist_night" class="col-form-label">ASSISTANCE DE NUIT</label>
                <input type="number" min="0" step="0.1" id='assist_night' name="assist_night" value="{{obj.assist_night}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="assist_weekend" class="col-form-label">ASSISTANCE EN WEEKEND</label>
                <input type="number" min="0" step="0.1" id='assist_weekend' name="assist_weekend" value="{{obj.assist_weekend}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="assist_jourferie" class="col-form-label">ASSISTANCE EN JOUR FERIE</label>
                <input type="number" min="0" step="0.1" id='assist_jourferie' name="assist_jourferie" value="{{obj.assist_jourferie}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="standby" class="col-form-label">STAND BY</label>
                <input type="number" min="0" step="0.1" id='standby' name="standby" value="{{obj.standby}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="abs_demande" class="col-form-label">ABSENCE DE DEMANDE AVANT 24H</label>
                <input type="number" min="0" step="0.1" id='abs_demande' name="abs_demande" value="{{obj.abs_demande}}" class="form-control input" required readonly>
            </div>
        </div>
        <h6 class='mt-5'><b>PÉNALITÉS DE RETARD</b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="rtr_1_3" class="col-form-label">ENTRE 1H et 3H</label>
                <input type="number" min="0" step="0.1" id='rtr_1_3' name="rtr_1_3" value="{{obj.rtr_1_3}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="rtr_3_5" class="col-form-label">ENTRE 3H et 5H</label>
                <input type="number" min="0" step="0.1" id='rtr_3_5' name="rtr_3_5" value="{{obj.rtr_3_5}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="rtr_5" class="col-form-label">PLUS DE 5H</label>
                <input type="number" min="0" step="0.1" id='rtr_5' name="rtr_5" value="{{obj.rtr_5}}" class="form-control input" required readonly>
            </div>
        </div>
        <h6 class='mt-5'><b>PÉNALITÉS D'ANNULATION</b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cnl_12_24" class="col-form-label">ANNULATION ENTRE 12H et 24H</label>
                <input type="number" min="0" step="0.1" id='cnl_12_24' name="cnl_12_24" value="{{obj.cnl_12_24}}" class="form-control input" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="cnl_12" class="col-form-label">ANNULATION - 12H</label>
                <input type="number" min="0" step="0.1" id='cnl_12' name="cnl_12" value="{{obj.cnl_12}}" class="form-control input" required readonly>
            </div>
        </div>
        <h6 class='mt-5'><b>RÉDUCTION</b> &nbsp;&nbsp;<span style="color: gray !important;"></span></h6>
        <hr class='mt-0'>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="reduction" class="col-form-label">POURCENTAGE</label>
                <input type="number" min="0" step="0.1" id='reduction' name="reduction" value="{{obj.reduction}}" class="form-control input" required readonly>
            </div>
        </div>
    </div>
    <button type="submit" id="submit-form" class="btn" style="color: white !important; background-color: #0e385b !important;" disabled><b>MODIFIER</b></button>
</form>

  <script>

        $('#newpl_check').on('change', function(){
            if($('#newpl_check').prop('checked') == false){
                $('#new_pl').slideDown('slow')
                $('#dte_begin').attr('name', 'dte_begin')
                $('#dte_end').attr('name', 'dte_end')
                $('#dte_begin').attr('required', true)
                $('#dte_end').attr('required', true)
            }
            else{
                $('#new_pl').slideUp('slow')
                $('#dte_begin').removeAttr('name')
                $('#dte_end').removeAttr('name')
                $('#dte_begin').attr('required', false)
                $('#dte_end').attr('required', false)
            }
        });

        $('#newpl_check').on('change', function(){
            var chk = $(this).is(':checked');
            if(!chk){
                $(':input').prop('readonly', false);
                $('#submit-form').prop('disabled', false);
            }
            else{
                $(':input').prop('readonly', true);
                $('#submit-form').prop('disabled', true);
            }
        });


    $('form').submit(function(e) {
        $(':disabled').each(function(e) {
            $(this).removeAttr('disabled');
        })
    });

  </script>
    

{% endblock content %}